# --- Frameworks & UI ---
streamlit
pandas
python-dotenv  # Maintenu pour le test local

# --- Core LangChain et Utilitaire ---
langchain
langchain-core 
langchain-community  # Contient PyPDFLoader et FAISS
pypdf  # Nécessaire pour les documents PDF

# --- Providers Spécifiques ---
langchain-groq       # Pour l'intégration du LLM Groq (ChatGroq)
# HuggingFaceEmbeddings est inclus dans langchain-community, 
# mais nous ajoutons la dépendance transformers pour le modèle:
transformers         
sentence-transformers # Pour les embeddings (HuggingFaceEmbeddings utilise sentence-transformers)
langchain-huggingface

# --- Vector Store ---
faiss-cpu
