name: Deploy to AWS ECR

on:
  push:
    branches:
      - main  # Ou "master" selon le nom de votre branche principale

env:
  AWS_REGION: eu-west-3
  ECR_REPOSITORY: g1-mlops
  ECR_REGISTRY: 073184925698.dkr.ecr.eu-west-3.amazonaws.com

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: latest
      run: |
        # Construction de l'image (Build)
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        # Envoi vers AWS (Push)
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        echo "✅ Image poussée avec succès : $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
